@import '../credit-badge/credit-badge.scss';

.section {
  &--announcement {
    position: relative;
  }

  &__announcement {
    &-title p,
    &-subtitle p {
      margin: 0;
      padding-right: rwd(80, 800);
      color: $colorWhite !important;
      text-align: right;
      font-weight: bold;
    }

    &-title {
      padding-top: rwd(80, 800) !important;
      padding-bottom: 35px !important;

      p {
        font-size: 42px !important;
      }
    }

    &-subtitle {
      padding-bottom: 35px !important;

      p {
        font-size: 23px !important;
      }
    }

    &-button {
      padding-right: rwd(80, 800) !important;
      text-align: right !important;
      direction: rtl;
      padding-bottom: 75px !important;
    }
  }
}
