.button {
  a {
    display: block;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px !important;
    line-height: 40px !important;
    text-align: center !important;
    text-transform: capitalize !important;
    background-color: $colorAccent !important;
  }
}
