@import '../container/container.scss';
@import '../subtitle/subtitle.scss';
@import '../card/card.scss';

.section-sale {
  @extend %container;
  background-color: $colorSectionBackground !important;

  &__spacer {
    padding-top: rwd(80, $containerWidth) !important;

    &-subtitle {
      padding-top: rwd(40, $containerWidth) !important;
    }
  }
}
