.container {
  position: relative;
  width: auto !important;
  max-width: 620px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  background-color: rgba(222, 111, 033, 0.3) !important;

  @include mq {
    width: 100% !important;
    max-width: 640px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
