%container {
  max-width: $containerWidth + px !important;
  padding-left: 10px;
  padding-right: 10px;

  @include mq {
    padding-left: rwd(80, $layoutWidth) !important;
    padding-right: rwd(80, $layoutWidth) !important;
  }
}
