.paragraph {
  p {
    margin: 0 !important;
    font-size: 14px !important;
    font-weight: bold;
    line-height: 190% !important;
    text-align: center !important;
    color: $colorTextBase !important;
  }
}
