include /subtitle/subtitle.pug
include /title-accent/title-accent.pug
include /paragraph/paragraph.pug
include /spacer/spacer.pug
include /credit-badge/credit-badge.pug

mixin section-desc()

  - const className = 'section-desc'

  mj-section(css-class=className)

    mj-column(width='100%' css-class='credit-badge-wrapper')

      +spacer({cssClass: className + '__spacer'})

      +subtitle('Celebrate Merry Christmas')

      +spacer({cssClass: className + '__spacer-subtitle'})

      +title-accent('Welcome to Christmas Party')(align='center')

      +spacer({cssClass: className + '__spacer-text'})

      +paragraph('Fusce sed ligula nec nunc porta dapibus. Ut sapien velit, sollicitudin et lorem sit amet, auctor auctor eros. Proin nunc libero, pulvinar vitae pulvinar id, sollicitu din vitae sem. Sed rhoncus leo sit amet tortor dignissim. Ut sapien velit, sollicitudin et lorem sit amet, auctor. Fusce sed ligula nec nunc porta dapibus.')(align='center')

      +spacer({cssClass: className + '__spacer-text'})

      mj-image(src=`${imagePath}concert.jpg`)

      +credit-badge('Aditya Chinchure', 'ZhQCZjr9fHo')

    mj-column(width='100%')
      +spacer({cssClass: className + '__spacer'})