.section-place {
  @extend %container;

  &__column {
    max-width: 400px !important;

    &-info {
      div {
        padding-top: rwd(8, $containerWidth/2) !important;

        @include mq {
          padding-left: rwd(24, $containerWidth/2) !important;
        }
      }
    }
  }

  &__spacer {
    padding-top: rwd(80, $containerWidth) !important;

    &-title {
      padding-top: rwd(40, $containerWidth) !important;
    }

    &-m {
      padding-top: rwd(24, $containerWidth/2) !important;
    }
  }
}
