@mixin mq {
  @media all and (min-width: 480px) {
    @content;
  }
}

@mixin mq-m {
  @media all and (min-width: 640px) {
    @content;
  }
}

@mixin mq-l {
  @media all and (min-width: 720px) {
    @content;
  }
}

@function rwd($target, $context) {
  @return percentage($target / $context);
}

%container {
  max-width: 640px !important;
  padding-left: 10px;
  padding-right: 10px;

  @include mq {
    padding-left: rwd(80, 800) !important;
    padding-right: rwd(80, 800) !important;
  }
}
