$colorAccent: #e01931;
$colorBorderTransparent: rgba(255, 255, 255, 20%);
$colorCardBackground: #222222;
$colorSectionBackground: #d6effd;
$colorTextBase: #666666;
$colorTextDark: #333333;
$colorWhite: #ffffff;
