.logo {
  padding-bottom: 136px !important;

  a {
    display: inherit;
    vertical-align: middle;
    width: 100px;
    height: 112px;
    color: $colorWhite;
    font-size: 42px !important;
    font-weight: bold !important;
    text-align: center;
    background-color: $colorAccent !important;
  }
}
