@import '../logo/logo.scss';
@import '../heading/heading.scss';
@import '../credit-badge/credit-badge.scss';

.section--hero {
  padding-left: 10px;
  padding-right: 10px;
  position: relative !important;
  padding-bottom: 10px;

  @include mq {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
