include /section/section.pug
include /logo/logo.pug
include /heading/heading.pug
include /credit-badge/credit-badge.pug

mixin section-hero()
  +section(
    css-class="section section--hero",
    background-color="black"
    background-url=`${imagePath}bg_hero.jpg`)
    mj-column(width='100%')
      +logo('Yule')
      +heading('We wish you a Happy Christmas')
    mj-column(width='100%')
      +credit-badge('Kieran White', 'SBdmQcW8qag')