include /section/section.pug
include /logo/logo.pug
include /heading/heading.pug
include /credit-badge/credit-badge.pug

mixin section-hero()
  +section(
    css-class="section section--hero",
    background-color="#001516"
    background-url=`${imagePath}bg_hero.jpg`)
    +set-block('container')
      +logo('Yule')
      +heading('We wish you a Happy Christmas')
    +set-block('section')
      mj-column(width='100%')
        +credit-badge('Kieran White', 'SBdmQcW8qag')