.preview {
  @extend %container;

  &__image {
    @include mq {
      width: rwd(216, $containerWidth) !important;
      max-width: 216px !important;
    }
  }

  &__info {
    padding-top: 8px;

    @include mq {
      width: rwd(376, $containerWidth) !important;
      max-width: 376px !important;
      padding-left: rwd(24, $containerWidth);
      padding-right: rwd(24, $containerWidth);
    }
  }
}
