.preview {
  @extend %container;

  &__image {
    position: relative !important;

    @include mq {
      width: rwd(216, 640) !important;
      max-width: 216px !important;
    }
  }

  &__info {
    padding-top: 8px;

    @include mq {
      width: rwd(376, 640) !important;
      max-width: 376px !important;
      padding-left: rwd(24, 640);
      padding-right: rwd(24, 640);
    }
  }
}
