include /title-accent/title-accent.pug
include /paragraph/paragraph.pug

mixin preview(data)

  mj-section(css-class='preview')&attributes(attributes)
    mj-column(css-class='preview__image')

      mj-image(src=`${imagePath}${data.img}`)

      block

    mj-column(css-class='preview__info')

      +title-accent(data.title)(padding-bottom='25px')

      +paragraph(data.desc)

    if data.spacer
      mj-column(width='100%')
        mj-spacer(height='24px')
