.heading {
  div {
    display: inherit;
    width: 496px;
    height: 216px;
    margin: 0 !important;
    vertical-align: middle;
    border: 8px solid $colorBorderTransparent;
    background-color: $colorBackgroundTransparent;
  }

  h1 {
    color: $colorWhite !important;
    text-align: center !important;
    font-weight: bold;
    line-height: 120% !important;
    font-size: 46px !important;

    @include mq {
      font-size: 56px !important;
    }
  }
}
