include ../variables.pug

include /hero/hero.pug
include /section-desc/section-desc.pug
include /section-sale/section-sale.pug
include /section-party/section-party.pug
include /section-announcement/section-announcement.pug
include /section-place/section-place.pug
include /footer/footer.pug

mjml

  include /head/head.pug

  mj-body(width='800px' css-class='body')

    +hero()
    +section-desc()
    +section-sale()
    +section-party()
    +section-announcement()
    +section-place()
    +footer()