.section {
  &--container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;

    @include mq {
      max-width: 640px !important;
      padding: 80px !important;
    }
  }
}
