@import '../container/container.scss';
@import '../credit-badge/credit-badge.scss';

.footer {
  @extend %container;
  height: 352px !important;
  max-height: 352px !important;

  &__text {
    p {
      margin: 0;
      text-align: center;
      font-size: 16px !important;
      line-height: 160% !important;
      color: $colorWhite !important;
    }

    a {
      text-decoration: none;
      color: $colorAccent !important;
    }
  }

  &__spacer {
    padding-top: rwd(16, $containerWidth) !important;

    &-top {
      padding-top: rwd(100, $containerWidth) !important;
    }
  }
}
