mj-head

  mj-title Yule

  mj-font(
    name='Tinos'
    href='https://fonts.googleapis.com/css?family=Tinos:400,700')

  mj-attributes

    mj-all(font-family='Tinos, serif')
    mj-section(padding='0')
    mj-image(padding='0')
    mj-text(padding='0')
    include mj-class.pug

  mj-style(inline='inline')
    include ../../../tmp/styles/main.css

  mj-style
    include ../../../tmp/styles/media.css
