.credit-badge {
  position: absolute;
  bottom: 0;
  right: 0;

  div {
    padding: 5px;
    font-size: 10px !important;
    color: $colorWhite !important;
    background-color: rgba(0, 0, 0, 0.35) !important;

    @include mq {
      font-size: 12px !important;
    }
  }

  a {
    color: darken($colorWhite, 10%) !important;
  }

  &-wrapper {
    position: relative !important;
  }
}
