.credit-badge {
  position: absolute;
  bottom: 0;
  right: 0;

  div {
    padding: 5px;
    font-size: 12px !important;
    color: $colorWhite !important;
    // background-color: rgba(0, 0, 0, 0.5) !important;
  }

  a {
    color: darken($colorWhite, 20%) !important;
  }
}
