mixin credit_badge(author, url)

  mj-text(
    align='right'
    css-class='credit_badge')
    | Photo by 
    a(href=`https://unsplash.com/photos/${url}?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText`)= author